{"swagger":"2.0","info":{"description":"题库接口文档","version":"v1.0.0","title":"course-service 接口列表","license":{"name":"Apache License, Version 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"host":"apollo-admin.study.youdao.com","basePath":"/course-service","tags":[{"name":"banner和胶囊配置","description":"Banner Config Controller"},{"name":"moc-cient-test","description":"Moc Cient Test"},{"name":"前台mooc频道页","description":"Front Banner Config Controller"},{"name":"模块管理配置","description":"Module Config Controller"},{"name":"频道页课程管理","description":"Channel Page Course Controller"},{"name":"频道页配置","description":"Channel Page Config Controller"}],"paths":{"/banner/config/get":{"post":{"tags":["banner和胶囊配置"],"summary":"banner和胶囊通用查询接口","operationId":"getUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BannerConfigDTO","$ref":"#/definitions/BannerConfigDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/banner/config/operateShelf":{"post":{"tags":["banner和胶囊配置"],"summary":"banner和胶囊上下架","operationId":"operateShelfUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"},{"name":"status","in":"query","description":"status","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/banner/config/page":{"post":{"tags":["banner和胶囊配置"],"summary":"banner和胶囊通用分页查询接口","operationId":"pageBannerConfigUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"bannerConfigParam","description":"bannerConfigParam","required":true,"schema":{"originalRef":"BannerConfigParam","$ref":"#/definitions/BannerConfigParam"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"PageResult«BannerConfigDTO»","$ref":"#/definitions/PageResult«BannerConfigDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/banner/config/position":{"post":{"tags":["banner和胶囊配置"],"summary":"banner和胶囊通用拖动排序接口","operationId":"setPositionUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"ids","description":"ids","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/banner/config/saveOrUpdate":{"post":{"tags":["banner和胶囊配置"],"summary":"banner和胶囊通用保存或更新接口","operationId":"saveOrUpdateBannerUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"bannerConfigDTO","description":"bannerConfigDTO","required":true,"schema":{"originalRef":"BannerConfigDTO","$ref":"#/definitions/BannerConfigDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/channel/page/config/get":{"post":{"tags":["频道页配置"],"summary":"频道通用查询接口","operationId":"getUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ChannelPageConfigDTO","$ref":"#/definitions/ChannelPageConfigDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/channel/page/config/getAll":{"post":{"tags":["频道页配置"],"summary":"获取所有配置","operationId":"getAllUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"type","in":"query","description":"type","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"ChannelPageConfigDTO","$ref":"#/definitions/ChannelPageConfigDTO"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/channel/page/config/getByExamYesr":{"post":{"tags":["频道页配置"],"summary":"获取考季模块信息","operationId":"getByExamYesrUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"examYear","in":"query","description":"examYear","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ChannelPageConfigDTO","$ref":"#/definitions/ChannelPageConfigDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/channel/page/config/getShelf":{"post":{"tags":["频道页配置"],"summary":"获取上架配置","operationId":"getShelfUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"type","in":"query","description":"type","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"ChannelPageConfigDTO","$ref":"#/definitions/ChannelPageConfigDTO"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/channel/page/config/operateShelf":{"post":{"tags":["频道页配置"],"summary":"频道页上下架","operationId":"operateShelfUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"},{"name":"status","in":"query","description":"status","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/channel/page/config/page":{"post":{"tags":["频道页配置"],"summary":"频道通用分页查询接口","operationId":"pageChannelPageConfigUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"pageConfigParam","description":"pageConfigParam","required":true,"schema":{"originalRef":"ChannelPageConfigParam","$ref":"#/definitions/ChannelPageConfigParam"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"PageResult«ChannelPageConfigDTO»","$ref":"#/definitions/PageResult«ChannelPageConfigDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/channel/page/config/position":{"post":{"tags":["频道页配置"],"summary":"拖动排序接口","operationId":"setPositionUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"ids","description":"ids","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/channel/page/config/saveOrUpdate":{"post":{"tags":["频道页配置"],"summary":"频道页保存或更新","operationId":"saveOrUpdateUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"pageConfigDTO","description":"pageConfigDTO","required":true,"schema":{"originalRef":"ChannelPageConfigDTO","$ref":"#/definitions/ChannelPageConfigDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/channel/page/course/add":{"post":{"tags":["频道页课程管理"],"summary":"新增课程","operationId":"addCourseUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"courseParam","description":"courseParam","required":true,"schema":{"originalRef":"ChannelPageCourseParam","$ref":"#/definitions/ChannelPageCourseParam"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/channel/page/course/batchEdit":{"post":{"tags":["频道页课程管理"],"summary":"课程编辑","operationId":"batchEditUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"courseParam","description":"courseParam","required":true,"schema":{"originalRef":"ChannelPageCourseParam","$ref":"#/definitions/ChannelPageCourseParam"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/channel/page/course/copy":{"post":{"tags":["频道页课程管理"],"summary":"课程复制","operationId":"copyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"fromProductId","in":"query","description":"fromProductId","required":true,"type":"integer","format":"int64"},{"name":"platformType","in":"query","description":"platformType","required":true,"type":"integer","format":"int32"},{"name":"toProductId","in":"query","description":"toProductId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/channel/page/course/courseSync":{"get":{"tags":["频道页课程管理"],"summary":"同步课程信息","operationId":"courseSyncUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/channel/page/course/get":{"post":{"tags":["频道页课程管理"],"summary":"获取课程信息","operationId":"getUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ChannelPageCourseDTO","$ref":"#/definitions/ChannelPageCourseDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/channel/page/course/operateShelf":{"post":{"tags":["频道页课程管理"],"summary":"课程上下架","operationId":"operateShelfUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"},{"name":"status","in":"query","description":"status","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/channel/page/course/page":{"post":{"tags":["频道页课程管理"],"summary":"课程分页","operationId":"pageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"courseParam","description":"courseParam","required":true,"schema":{"originalRef":"ChannelPageCourseParam","$ref":"#/definitions/ChannelPageCourseParam"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"PageResult«ChannelPageCourseDTO»","$ref":"#/definitions/PageResult«ChannelPageCourseDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/channel/page/course/position":{"post":{"tags":["频道页课程管理"],"summary":"设置权重","operationId":"setPositionUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"},{"name":"position","in":"query","description":"position","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/moc/client/test":{"get":{"tags":["moc-cient-test"],"summary":"test","operationId":"testUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/module/config/listProductModuleRel":{"post":{"tags":["模块管理配置"],"summary":"获取模块关联信息","operationId":"listProductModuleRelUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"moduleId","in":"query","description":"moduleId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"ProductModuleRelDTO","$ref":"#/definitions/ProductModuleRelDTO"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/web/mooc/getBannerCapsule":{"post":{"tags":["前台mooc频道页"],"summary":"获取胶囊和banner信息","operationId":"getBannerCapsuleUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"originalRef":"BannerCapsuleVo","$ref":"#/definitions/BannerCapsuleVo"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/web/mooc/getChannelCourse":{"post":{"tags":["前台mooc频道页"],"summary":"频道课程信息","operationId":"getChannelCourseUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"classTypeId","in":"query","description":"classTypeId","required":false,"type":"integer","format":"int64"},{"name":"examYearId","in":"query","description":"examYearId","required":true,"type":"integer","format":"int64"},{"name":"subjectId","in":"query","description":"subjectId","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ChannelCourseVo","$ref":"#/definitions/ChannelCourseVo"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}},"/web/mooc/getExamYearShelf":{"post":{"tags":["前台mooc频道页"],"summary":"获取上架考季配置","operationId":"getExamYearShelfUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"ChannelPageConfigDTO","$ref":"#/definitions/ChannelPageConfigDTO"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Authorization":["global"]}],"deprecated":false}}},"securityDefinitions":{"Authorization":{"type":"apiKey","name":"cookie","in":"header"}},"definitions":{"AdultCourseCardDto":{"type":"object","properties":{"courseOriginalPrice":{"type":"number"},"courseSaleNum":{"type":"integer","format":"int32"},"courseSalePrice":{"type":"number"},"courseStartTime":{"originalRef":"Timestamp","$ref":"#/definitions/Timestamp"},"courseStatus":{"type":"integer","format":"int32"},"courseTitle":{"type":"string"},"currentPrice":{"type":"number"},"headImg":{"type":"string"},"heat":{"type":"integer","format":"int32"},"id":{"type":"integer","format":"int32"},"listImage":{"type":"string"},"mocTagDtos":{"type":"array","items":{"originalRef":"MocTagDto","$ref":"#/definitions/MocTagDto"}},"shelfStatus":{"type":"integer","format":"int32"},"showImage":{"type":"string"},"status":{"type":"integer","format":"int32"},"tags":{"type":"array","items":{"type":"string"}},"teacherList":{"type":"array","items":{"originalRef":"JpkCourseTeacherVo","$ref":"#/definitions/JpkCourseTeacherVo"}}},"title":"AdultCourseCardDto"},"BannerCapsuleVo":{"type":"object","properties":{"banners":{"type":"array","description":"banner信息","items":{"originalRef":"BannerConfigDTO","$ref":"#/definitions/BannerConfigDTO"}},"capsules":{"type":"array","description":"胶囊信息","items":{"originalRef":"BannerConfigDTO","$ref":"#/definitions/BannerConfigDTO"}}},"title":"BannerCapsuleVo","description":"频道页配置"},"BannerConfigDTO":{"type":"object","properties":{"effectiveTime":{"type":"integer","format":"int64","description":"生效时间"},"expireTime":{"type":"integer","format":"int64","description":"过期时间"},"gmtCreate":{"type":"integer","format":"int64"},"gmtModified":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"},"imageUrl":{"type":"string","description":"图片地址"},"jumpUrl":{"type":"string","description":"跳转url"},"name":{"type":"string","description":"banner名称"},"platformType":{"type":"integer","format":"int32","description":"平台类型,web慕课banner：10，web慕课胶囊：20，web云课堂banner：30"},"position":{"type":"integer","format":"int32","description":"排序字段"},"status":{"type":"integer","format":"int32","description":"状态,下架：0，上架：1"},"type":{"type":"integer","format":"int32","description":"类型,url：10，智齿：20，弹窗：30"}},"title":"BannerConfigDTO","description":"考研banner胶囊配置表"},"BannerConfigParam":{"type":"object","properties":{"effectiveStatus":{"type":"integer","format":"int32"},"platformType":{"type":"integer","format":"int32","description":"平台类型,web慕课banner：10，web慕课胶囊：20，web云课堂banner：30"},"query":{"originalRef":"PageQuery","$ref":"#/definitions/PageQuery"},"status":{"type":"integer","format":"int32","description":"状态,下架：0，上架：1,全部不传"}},"title":"BannerConfigParam","description":"banner和胶囊参数"},"ChannelCourseVo":{"type":"object","properties":{"classTypes":{"type":"array","description":"班型","items":{"originalRef":"ChannelPageConfigDTO","$ref":"#/definitions/ChannelPageConfigDTO"}},"courseModules":{"type":"array","description":"课程模块信息","items":{"originalRef":"CourseModuleVo","$ref":"#/definitions/CourseModuleVo"}},"subjects":{"type":"array","description":"学科","items":{"originalRef":"ChannelPageConfigDTO","$ref":"#/definitions/ChannelPageConfigDTO"}}},"title":"ChannelCourseVo","description":"频道页配置"},"ChannelPageConfigDTO":{"type":"object","properties":{"courseSubCategorys":{"type":"array","items":{"originalRef":"CourseSubCategoryDTO","$ref":"#/definitions/CourseSubCategoryDTO"}},"examYear":{"type":"integer","format":"int32","description":"考季，两位"},"gmtCreate":{"type":"integer","format":"int64"},"gmtModified":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"},"moduleConfig":{"type":"integer","format":"int32","description":"模块配置,否：0，是：1"},"moduleConfigs":{"type":"array","description":"模块","items":{"originalRef":"ModuleConfigDTO","$ref":"#/definitions/ModuleConfigDTO"}},"name":{"type":"string","description":"名称"},"position":{"type":"integer","format":"int32","description":"排序字段"},"status":{"type":"integer","format":"int32","description":"状态,下架：0，上架：1"},"subCategoryIds":{"type":"array","description":"二级分类id,json数组,为空则特殊学科无需关联","items":{"type":"integer","format":"int64"}},"type":{"type":"integer","format":"int32","description":"类型,选课考季：10，学科产品：20，班型标签：30"}},"title":"ChannelPageConfigDTO","description":"考研频道页配置"},"ChannelPageConfigParam":{"type":"object","properties":{"query":{"originalRef":"PageQuery","$ref":"#/definitions/PageQuery"},"status":{"type":"integer","format":"int32","description":"状态,下架：0，上架：1,全部不传"},"type":{"type":"integer","format":"int32","description":"类型,选课考季：10，学科产品：20，班型标签：30"}},"title":"ChannelPageConfigParam","description":"频道页配置"},"ChannelPageCourseDTO":{"type":"object","properties":{"classType":{"description":"班型","originalRef":"ChannelPageConfigDTO","$ref":"#/definitions/ChannelPageConfigDTO"},"classTypeId":{"type":"integer","format":"int64","description":"班型id"},"courseSubCategorys":{"type":"array","items":{"originalRef":"CourseSubCategoryDTO","$ref":"#/definitions/CourseSubCategoryDTO"}},"courseTypes":{"type":"array","description":"类型json数组","items":{"type":"integer","format":"int32"}},"examYears":{"type":"array","description":"考季，两位json数组","items":{"type":"integer","format":"int32"}},"gmtCreate":{"type":"integer","format":"int64"},"gmtModified":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"},"moduleConfig":{"type":"array","description":"考季模块","items":{"originalRef":"ModuleConfigDTO","$ref":"#/definitions/ModuleConfigDTO"}},"name":{"type":"string","description":"课程名称"},"platformType":{"type":"integer","format":"int32","description":"类型,云课堂：10，慕课：20"},"position":{"type":"integer","format":"int32","description":"排序字段"},"productId":{"type":"integer","format":"int64","description":"课程或套餐id"},"productType":{"type":"integer","format":"int32","description":"类型,云课堂课程：10，慕课课程：20，慕课课程包：21"},"startTime":{"type":"integer","format":"int64","description":"课程开始时间"},"status":{"type":"integer","format":"int32","description":"状态,下架：0，上架：1"},"subCategoryIds":{"type":"array","description":"二级分类id,json数组","items":{"type":"integer","format":"int64"}},"subject":{"description":"学科","originalRef":"ChannelPageConfigDTO","$ref":"#/definitions/ChannelPageConfigDTO"},"subjectId":{"type":"integer","format":"int64","description":"学科id"}},"title":"ChannelPageCourseDTO","description":"频道页课程配置信息表"},"ChannelPageCourseParam":{"type":"object","properties":{"classTypeId":{"type":"integer","format":"int64","description":"班型id"},"courseType":{"type":"string","description":"类型"},"endTime":{"type":"integer","format":"int64","description":"课程结束时间"},"examYear":{"type":"string","description":"考季"},"moduleIds":{"type":"array","description":"课程模块id","items":{"type":"integer","format":"int64"}},"platformType":{"type":"integer","format":"int32","description":"类型,云课堂：10，慕课：20"},"productId":{"type":"integer","format":"int64","description":"课程或套餐id"},"productIds":{"type":"string","description":"课程id多个用逗号分割"},"productType":{"type":"integer","format":"int32","description":"类型,云课堂课程：10，慕课课程：20，慕课课程包：21"},"query":{"originalRef":"PageQuery","$ref":"#/definitions/PageQuery"},"startTime":{"type":"integer","format":"int64","description":"课程开始时间"},"status":{"type":"integer","format":"int32","description":"状态,下架：0，上架：1"},"subCategoryIds":{"type":"string","description":"二级分类"},"subjectId":{"type":"integer","format":"int64","description":"学科d"}},"title":"ChannelPageCourseParam","description":"频道页课程"},"CourseModuleVo":{"type":"object","properties":{"courseCards":{"type":"array","description":"课程卡片","items":{"originalRef":"MixedCourseCardVo","$ref":"#/definitions/MixedCourseCardVo"}},"id":{"type":"integer","format":"int64"},"name":{"type":"string","description":"模块名称名称"},"position":{"type":"integer","format":"int32","description":"排序字段"},"targetId":{"type":"integer","format":"int64","description":"目标id"},"targetType":{"type":"integer","format":"int32","description":"类型,选课考季：10"}},"title":"CourseModuleVo","description":"课程模块信息"},"CourseSubCategoryDTO":{"type":"object","properties":{"categoryId":{"type":"integer","format":"int32"},"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"type":{"type":"integer","format":"int32"}},"title":"CourseSubCategoryDTO"},"JpkCourseTeacherVo":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"imgUrl":{"type":"string"},"name":{"type":"string"}},"title":"JpkCourseTeacherVo"},"MixedCourseCardVo":{"type":"object","properties":{"adultCourseCardDto":{"originalRef":"AdultCourseCardDto","$ref":"#/definitions/AdultCourseCardDto"},"goodsPlatTypeFrom":{"type":"integer","format":"int32"},"id":{"type":"integer","format":"int64"},"mocCPkgKyCardBulkPurchInfoVo":{"originalRef":"MocCPkgKyCardBulkPurchInfoVo","$ref":"#/definitions/MocCPkgKyCardBulkPurchInfoVo"},"mocCourseKyCardBulkPurchaseVo":{"originalRef":"MocCourseKyCardBulkPurchaseVo","$ref":"#/definitions/MocCourseKyCardBulkPurchaseVo"},"position":{"type":"integer","format":"int32"},"type":{"type":"integer","format":"int32"}},"title":"MixedCourseCardVo"},"MocBargainActivityCardVo":{"type":"object","properties":{"activityId":{"type":"integer","format":"int64"},"activityPrice":{"type":"number"},"currentTime":{"type":"integer","format":"int64"},"endTime":{"type":"integer","format":"int64"},"limitCount":{"type":"integer","format":"int64"},"remainCount":{"type":"integer","format":"int64"},"startTime":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"}},"title":"MocBargainActivityCardVo"},"MocCPkgKyCardBulkPurchInfoVo":{"type":"object","properties":{"activityId":{"type":"integer","format":"int64"},"activityPrice":{"type":"number"},"bigPhoto":{"type":"string"},"coverPhoto":{"type":"string"},"description":{"type":"string"},"discountAmount":{"type":"number"},"enrollNum":{"type":"integer","format":"int64"},"isGroupBuying":{"type":"boolean"},"limitCount":{"type":"integer","format":"int64"},"mobHeaderImageUrl":{"type":"string"},"mocBargainActivityCardVo":{"originalRef":"MocBargainActivityCardVo","$ref":"#/definitions/MocBargainActivityCardVo"},"name":{"type":"string"},"orderedCount":{"type":"integer","format":"int64"},"originalPrice":{"type":"number"},"packageId":{"type":"integer","format":"int64"},"price":{"type":"number"},"protionStatusMainSwitch":{"type":"integer","format":"int32"},"ptEndtime":{"type":"integer","format":"int64"},"ptStartTime":{"type":"integer","format":"int64"},"purchasedNum":{"type":"integer","format":"int64"},"remainingRestrictedNum":{"type":"integer","format":"int64"},"restrictedEndTime":{"type":"integer","format":"int64"},"restrictedNum":{"type":"integer","format":"int64"},"restrictedPromotionPrice":{"type":"number"},"restrictedPromotionStatus":{"type":"integer","format":"int32"},"restrictedPromotionType":{"type":"integer","format":"int32"},"restrictedStartTime":{"type":"integer","format":"int64"},"restricting":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"tags":{"type":"array","items":{"originalRef":"MocTag","$ref":"#/definitions/MocTag"}},"teachers":{"type":"array","items":{"originalRef":"MocCoursePackageTeacherJson","$ref":"#/definitions/MocCoursePackageTeacherJson"}},"termNum":{"type":"integer","format":"int32"},"webHeaderImageUrl":{"type":"string"},"webVisible":{"type":"integer","format":"int32"}},"title":"MocCPkgKyCardBulkPurchInfoVo"},"MocCourseKyCardBulkPurchaseVo":{"type":"object","properties":{"activityPrice":{"type":"number"},"bigPhoto":{"type":"string"},"courseId":{"type":"integer","format":"int64"},"courseName":{"type":"string"},"courseRecommendTargetId":{"type":"integer","format":"int64"},"courseRecommendTargetType":{"type":"integer","format":"int32"},"enrollNum":{"type":"integer","format":"int64"},"imageUrl":{"type":"string"},"isGroupBuying":{"type":"boolean"},"isHasCourseRecommendTarget":{"type":"boolean"},"limitCount":{"type":"integer","format":"int64"},"mocBargainActivityCardVo":{"originalRef":"MocBargainActivityCardVo","$ref":"#/definitions/MocBargainActivityCardVo"},"orderedCount":{"type":"integer","format":"int64"},"originalPrice":{"type":"number"},"price":{"type":"number"},"protionStatusMainSwitch":{"type":"integer","format":"int32"},"ptEndtime":{"type":"integer","format":"int64"},"ptStartTime":{"type":"integer","format":"int64"},"purchasedNum":{"type":"integer","format":"int64"},"realBigPhoto":{"type":"string"},"remainingRestrictedNum":{"type":"integer","format":"int64"},"restrictedEndTime":{"type":"integer","format":"int64"},"restrictedNum":{"type":"integer","format":"int64"},"restrictedPromotionPrice":{"type":"number"},"restrictedPromotionStatus":{"type":"integer","format":"int32"},"restrictedPromotionType":{"type":"integer","format":"int32"},"restrictedStartTime":{"type":"integer","format":"int64"},"restricting":{"type":"boolean"},"staffId":{"type":"integer","format":"int64"},"tags":{"type":"array","items":{"originalRef":"MocTag","$ref":"#/definitions/MocTag"}},"teacherName":{"type":"string"},"teacherPhoto":{"type":"string"},"termId":{"type":"integer","format":"int64"},"webVisible":{"type":"integer","format":"int32"}},"title":"MocCourseKyCardBulkPurchaseVo"},"MocCoursePackageTeacherJson":{"type":"object","properties":{"coursePackageId":{"type":"integer","format":"int64"},"desc":{"type":"string"},"id":{"type":"integer","format":"int64"},"imageUrl":{"type":"string"},"name":{"type":"string"},"title":{"type":"string"},"weight":{"type":"integer","format":"int32"}},"title":"MocCoursePackageTeacherJson"},"MocTag":{"type":"object","properties":{"colour":{"type":"string"},"comment":{"type":"string"},"gmtCreate":{"type":"string","format":"date-time"},"gmtModified":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int64"},"link":{"type":"string"},"name":{"type":"string"},"picture":{"type":"string"},"tagFamilyId":{"type":"integer","format":"int64"},"weight":{"type":"integer","format":"int32"}},"title":"MocTag"},"MocTagDto":{"type":"object","properties":{"colour":{"type":"string"},"comment":{"type":"string"},"id":{"type":"integer","format":"int64"},"isTop":{"type":"integer","format":"int32"},"link":{"type":"string"},"name":{"type":"string"},"picture":{"type":"string"},"tagFamilyId":{"type":"integer","format":"int64"},"tagFamilyName":{"type":"string"},"targetId":{"type":"integer","format":"int64"},"targetType":{"type":"integer","format":"int32"},"weight":{"type":"integer","format":"int32"}},"title":"MocTagDto"},"ModuleConfigDTO":{"type":"object","properties":{"examYear":{"type":"integer","format":"int32"},"gmtCreate":{"type":"integer","format":"int64"},"gmtModified":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"},"name":{"type":"string","description":"模块名称名称"},"position":{"type":"integer","format":"int32","description":"排序字段"},"targetId":{"type":"integer","format":"int64","description":"目标id"},"targetType":{"type":"integer","format":"int32","description":"类型,选课考季：10"}},"title":"ModuleConfigDTO","description":"考研模块页配置"},"PageQuery":{"type":"object","properties":{"current":{"type":"integer","format":"int64"},"pageSize":{"type":"integer","format":"int64"}},"title":"PageQuery"},"PageResult«BannerConfigDTO»":{"type":"object","properties":{"current":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"originalRef":"BannerConfigDTO","$ref":"#/definitions/BannerConfigDTO"}},"pageSize":{"type":"integer","format":"int64"},"total":{"type":"integer","format":"int64"}},"title":"PageResult«BannerConfigDTO»"},"PageResult«ChannelPageConfigDTO»":{"type":"object","properties":{"current":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"originalRef":"ChannelPageConfigDTO","$ref":"#/definitions/ChannelPageConfigDTO"}},"pageSize":{"type":"integer","format":"int64"},"total":{"type":"integer","format":"int64"}},"title":"PageResult«ChannelPageConfigDTO»"},"PageResult«ChannelPageCourseDTO»":{"type":"object","properties":{"current":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"originalRef":"ChannelPageCourseDTO","$ref":"#/definitions/ChannelPageCourseDTO"}},"pageSize":{"type":"integer","format":"int64"},"total":{"type":"integer","format":"int64"}},"title":"PageResult«ChannelPageCourseDTO»"},"ProductModuleRelDTO":{"type":"object","properties":{"examYearId":{"type":"integer","format":"int64","description":"考季id"},"gmtCreate":{"type":"integer","format":"int64"},"gmtModified":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"},"moduleId":{"type":"integer","format":"int64","description":"模块id"},"platformType":{"type":"integer","format":"int32","description":"类型,云课堂：10，慕课：20"},"productId":{"type":"integer","format":"int64","description":"课程或套餐id"}},"title":"ProductModuleRelDTO","description":"频道页关联表"},"Timestamp":{"type":"object","properties":{"date":{"type":"integer","format":"int32"},"day":{"type":"integer","format":"int32"},"hours":{"type":"integer","format":"int32"},"minutes":{"type":"integer","format":"int32"},"month":{"type":"integer","format":"int32"},"nanos":{"type":"integer","format":"int32"},"seconds":{"type":"integer","format":"int32"},"time":{"type":"integer","format":"int64"},"timezoneOffset":{"type":"integer","format":"int32"},"year":{"type":"integer","format":"int32"}},"title":"Timestamp"}}}